.sections {
    padding-top: 222px;
    padding-bottom: 168px;
}
.sections__row {
    display: grid;
    grid-template-columns: 23% calc(77% - 32px);
    grid-gap: 0 31px;
}
.nav {
    margin-top: 72px;
    border-bottom: 1px solid rgba(42, 95, 203, 0.15);
    height: fit-content;
}
.nav__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    padding: 20px 20px 20px 0;
    width: 100%;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7.5px 0 7.5px 12px;
        border-color: transparent transparent transparent var(--primary-color);
        top: 30px;
        right: 0;
        transition: var(--main-transition);
        transform: scale(0);
        transform-origin: center center;
    }
}
.nav__list {
    padding-right: 31px;
    .nav__item:not(:last-child) {
        .nav__link {
            border-bottom: 1px solid rgba(42, 95, 203, 0.15);
        }
    }
}
.nav__link--active {
    color: var(--primary-color);
    font-weight: 600;
    &::before {
        transform: scale(1);
    }
}
.search__icon {
    width: 24px;
    height: 24px;
    fill: var(--secondary-color);
    transition: var(--main-transition);
}
.programs__search {
    margin-top: 45px;
    margin-bottom: 75px;
}
.search__input {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--secondary-color);
    background-color: transparent;
}
.search__label {
    display: grid;
    align-items: center;
    grid-template-columns: 24px 1fr;
    grid-column-gap: 9px;
}
.search__label {
    padding-bottom: 16px;
    border-bottom: 1px solid #C4C4C4;
    transition: var(--main-transition);
    &:focus-within {
        border-color: var(--primary-color);
        .search__icon {
            fill: var(--primary-color);
        }
    }
}
.programs__elem {
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(238, 238, 238, 0.5);
    border-radius: 10px;
    padding: 21px 0 20px 0;
    display: grid;
    grid-template-columns: 12% 29% 16% 89px 80px 24%;
    position: relative;
    .programs__elem-col:not(:last-child) {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: calc(100% + 44px);
            top: -22px;
            left: 0;
            border-right: 1px solid #EEEEEE;
        }
    }
}
.programs__elems-header {
    display: grid;
    grid-template-columns: 14% 25% 20% 8% 12% 20%;;
    margin-bottom: 22px;
}
.programs__elems-header-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}
.programs__elem-status {
    flex-direction: column;
    span {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
}
.programs__elem-status-active {
    color: var(--success-color);
}
.programs__elem-status-not-activated {
    color: #C4C4C4;
}
.programs__elem-download-icon {
    width: 32px;
    height: 32px;
}
.programs__elem-document-icon {
    width: 22px;
    height: 32px;
}
.programs__elem {
    .programs__elem-col:first-child {
        padding-left: 20px !important;
    }
    .programs__elem-col:last-child {
        padding-right: 20px !important;
    }
}
.programs__elem-col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 28px;
    padding-right: 28px;
}
.programs__elem-number {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--dark-color);
}
.programs__elem-program {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--dark-color);
}
.programs__elem-time {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.programs__elem-ends {
    .programs__elem-time {
        color: var(--danger-color)
    }
    &::before {
        content: '';
        background-color: var(--danger-color);
        width: 12px;
        height: 12px;
        border-radius: 100%;
        position: absolute;
        left: 0;
        top: -5px;
    }
}
.programs__elem-ends-extend {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #A5A5A5;
    padding: 10px 18px 11px 18px;
    background: #FFFFFF;
    box-shadow: 0 4px 20px #E5E5E5;
    position: absolute;
    z-index: 1;
    border-radius: 4px;
    text-align: center;
    top: -33px;
    left: 32px;
    opacity: 0;
    transition: var(--main-transition);
    ul {
        text-align: left;
    }
    &::before {
        content: '';
    }
}
.triangle-with-shadow {
    width: 33px;
    height: 31px;
    overflow: hidden;
    box-shadow: 0 16px 10px -17px rgba(0,0,0,0.5);
    position: absolute;
    top: -3px;
    left: -33px;
}
.triangle-with-shadow:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg); /* Не забываем про префиксы */
    top: 21px;
    left: 23px;
    box-shadow: 6px -1px 17px -2px rgb(0 0 0 / 50%);
}
.programs__elem {
    cursor: pointer;
    transition: var(--main-transition);
    position: relative;
    z-index: 1;
    &:hover {
        background-color: #EBF0FA;

    }
}
.programs__elem-ends {
    &:hover {
        .programs__elem-ends-extend {
            opacity: 1;
        }
    }
}
.elem-bottom__card {
    padding: 37px 24px 45px;
    background-color: #F2F6FC;
    position: relative;
    margin-top: -7px;
}
.elem-bottom__white-card:last-child {
    border-bottom: none !important;
}
.elem-bottom__card-btn {
    margin-top: 30px;
}
.elem-bottom__card-title {
    margin-bottom: 20px;
}
.elem-bottom__white-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.elem-bottom__white-card-characteristic {
    .programs__elem-ends-extend {
        min-width: 346px;
        padding: 19px 24px 28px;
        top: -33px;
        left: 59px;
        pointer-events: none;
        li {
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            color: #A5A5A5;
            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }
}
.programs__elem-wrapper {
    margin-bottom: 15px;
}
.elem-bottom__notification {
    position: relative;
    display: flex;
}
.elem-bottom__white-card {
    padding: 30px 26px 45px 24px;
    border-bottom: 1px solid #DEDCDC;
    background-color: #fff;
}
.elem-bottom__white-card-characteristic {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #A5A5A5;
    display: flex;
    align-items: center;
    span:last-child {
        color: var(--dark-color);
    }
    &:not(:last-child) {
        margin-bottom: 15px;
    }
}
.elem-bottom__white-card-icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    cursor: pointer;
    &:hover {
        & + .programs__elem-ends-extend {
            opacity: 1;
        }
    }
}

.btn-wrapper {
    margin-top: 16px;
    text-align: right;
}
@media (max-width: 1180px) {
    .programs__elem-col {
        padding-left: 8px;
        padding-right: 8px;
    }
}