:root {
    --muted-color: rgba(62, 62, 62, 0.7);
    --dark-color: #3E3E3E;
    --primary-color: #2A5FCB;
    --secondary-color: #9E9E9E;
    --success-color: #27AE60;
    --danger-color: #FC5426;

    --main-transition: 0.3s;
}
a {
    color: var(--muted-color);
    transition: color var(--main-transition);
    display: inline-block;
    &:hover {
        color: var(--primary-color);
    }
}
h2 {
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: var(--dark-color);
}
h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: var(--dark-color);
}
p {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
}
.btn-primary {
    padding: 12px 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: var(--primary-color);
    transition: var(--main-transition);
    border-radius: 50px;
    &:hover {
        background-color: darken(#2a5fcb, 5%);
    }
}
.btn-primary-outline {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--primary-color);
    border: 1px solid #2A5FCB;
    border-radius: 50px;
    transition: var(--main-transition);
    padding: 12px 25px;
    cursor: pointer;
    &:hover {
        background-color: var(--primary-color);
        color: #fff;
    }
}
.btn-show-more {
    color: #A5A5A5;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    transition: var(--main-transition);
    &:hover {
        color: darken(#A5A5A5, 10%)
    }
}